body{
	background:#f2f2f2; 
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
.hos_bot{
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
	color: #1479cb;
}
.navbar{
	background:#2f2f2f;
}
#search_box{
	font-family: 'Josefin Sans', sans-serif;
	margin: 19px;
	padding: 8px;
	border-radius: 20px;
}
.btn_main{
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 20px;
	background:#f2f2f2;
	font-size: 20px;
	border-radius: 0px; 
	border:2px solid black;
}
.btn:focus{
     color: #fff;
     text-decoration: none; 
}
.btn:hover{
	text-decoration: underline;
}
.main_txt{
	font-size: 40px;
}
.active{
	transition: 0.4s;
	background-color: black;
	color: white;
}
.hospital_main{
	margin: 10px;
	background:white;
	box-shadow: 3px 2px 25px 0px #9a9a9a;
}
.hospital_detail{
	margin: 10px
}

.list2{
	position: relative;
	z-index: 0;
	top: -60px;
}
.list{
	position: relative;
	z-index: 1;
}
