<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
</head>
<body>

	{% block content %}
	{% endblock %}

<script type="text/javascript">
	$(document).ready(function(){
		$(".btn_main").on("click",function(){
			$(".btn_main").removeClass("active");
			$(this).addClass("active");
			var class_id = $(this).prop('class').split(" ");
			$(".list").addClass("invisible");
			console.log("#" + class_id[2]+"_form");
			$("#" + class_id[2]+"_form").removeClass("invisible").addClass("visible");
		});
	});
</script>
</body>
</html>