<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

	{% block content %}
	{% endblock %}
<script
			  src="http://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".btn_main").on("click",function(){
			$(".btn_main").removeClass("active");
			$(this).addClass("active");
			var class_id = $(this).prop('class').split(" ");
			$(".list").addClass("invisible");
			console.log("#" + class_id[2]+"_form");
			$("#" + class_id[2]+"_form").removeClass("invisible").addClass("visible");
		});
	});
    
    var recognition = new webkitSpeechRecognition();
recognition.lang = "en-GB";


$(document).keydown(function(e){
    recognition.onresult = function(event) {
    var interim_transcript = '';
        interim_transcript = event.results[0][0].transcript;
        alert(interim_transcript);
        var url = "{% url 'core:senddata' %}";
        var data = {
            name : interim_transcript,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.post(url, data);
  };

    recognition.start();
});

    
</script>
</body>
</html>