{% extends 'core/base.html' %}

{% block content %}
<nav class="navbar">
	<div class="row hidden-xs">
		<div class="col-sm-3 text-center">
			<h3 class="hos_bot">HOS BOT</h3>
		</div>
		<div class="col-sm-2"></div>
		<!-- <div class="col-sm-6 text-right">
			<form>
				<input type="text" class="form-control" name="search" size="50" id="search_box" placeholder="Search website">
			</form>
		</div> -->
	</div>
	<div class="row hidden-lg hidden-sm hidden-md">
		<div class="col-xs-5 text-center">
			<h3 class="hos_bot">HOS BOT</h3>
		</div>
		<div class="col-xs-6 text-right">
			<form>
				<input type="text" class="form-control" name="search" size="50" id="search_box" placeholder="Search website">
			</form>
		</div>
	</div>
</nav>
<br>
<h1 class="text-center main_txt">We`ll Help you Fing the Correct Hospital</h1>
<br class="hidden-xs"><br>
<div class="row text-center">
	<div class="col-sm-6">
		<button class="btn btn_main name_list">Search Hospital by name</button>
	</div>
	<br class="hidden-lg hidden-sm hidden-md" >
	<div class="col-sm-6">
		<button class="btn btn_main city_list">Search Hospital by City</button>
	</div>
</div>
<br>
<br class="hidden-xs">
<div class="row">
	<div class="col-xs-3"></div>
	<!-- <div class="text-center col-xs-6">
		<form action="/searchbycity" id="city" method="post">
			{% csrf_token %}
		  <input class="form-control" list="browsers" name="hospital" placeholder="Search here">
		  <datalist id="browsers">
		  	{% for hospital in all_hospitals %}
			    <option value="{{hospital.city}}"></option>
		    {% endfor %}
		  </datalist>
		</form>
		</div>
		<div class="col-xs-3">  
		  <input form="city" type="submit">
		</div> -->
	<!-- 	<form action="#" method="post">
		  <input list="browsers" name="browser" placeholder="Search here">
		  <datalist id="browsers">
		    <option value="Internet Explorer">
		    <option value="Firefox">
		    <option value="Chrome">
		    <option value="Opera">
		    <option value="Safari">
		  </datalist>
		  <input type="submit">
		</form>
	 -->

	 <div class="text-center col-xs-6">
		<form action="/searchbycity" class="list invisible" id="city_list_form" method="post">
		  <input class="form-control" list="city1" name="city1" size="5" placeholder="Search hospital by city here">
		  {% csrf_token %}
		  <datalist id="city1">
		    {% for hospital in all_hospitals %}
			    <option value="{{hospital.city}}"></option>
		    {% endfor %}
		  </datalist>
		  <input type="submit">
		</form>
		<form action="/searchbyname" class="list list2 invisible" id="name_list_form" method="post">
		  <input class="form-control" list="name1" name="name1" placeholder="Search hospital by name here">
		  <datalist id="name1">
		    {% for hospital in all_hospitals %}
			    <option value="{{hospital.name}}"></option>
		    {% endfor %}
		  </datalist>
		  <input type="submit">
		 </form>		
	</div>



	</div>
<br>
{% for hospital in hospital_list %}
<div class="container">	
	<div class="row hospital_main">
		<div class="col-xs-2">
			{% load static %}
			<img src="{% static 'core/media/hospital.png' %}" width="120px">
		</div>	
		<div class="col-xs-10">
			<div class="row hospital_detail" >
				<div class=" text-center col-xs-8">
					<h4>{{hospital.name}}</h4>
				</div>
				<div class=" text-center col-xs-2">
					<h5><span class="glyphicon glyphicon-earphone"></span>&nbsp; {{hospital.telephone}}</h5>
				</div>
			</div>
				<div class="row hospital_detail" >
					<div class="col-xs-3 text-center">
						City: {{hospital.city}}
					</div>
					<div class="col-xs-3 text-center">
						State: {{hospital.state}}
					</div>
					<div class="col-xs-3 text-center">
						County: {{hospital.county}}
					</div>
					<div class="col-xs-3 text-center">
						Zip: {{hospital.pin}}
					</div>
				</div>
			<div class="row hospital_detail" >
				<div class="col-xs-1"></div>
				<div class="col-xs-4 text-center">
					<a href="{{hospital.website}}"><button class="btn btn-info">Wisit Website</button></a>
				</div>
				<div class="col-xs-4 text-center">
					<a href="{{hospital.mapurl}}"><button class="btn btn-info">Get Directions</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

